* {
   box-sizing: border-box;
}

html,body{
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", cursive, sans-serif
}

#topBar{
    display: flex;
    justify-content: space-between;
    background: #a15229;
    height: 10vh;
}

#mainHeader{
    margin: auto 0 auto 0.5em;
    color: #fff;
}

#topBar nav{
    display: flex;
    text-align: center;
}

#topBar nav a{
    margin: auto 1em auto 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    width: 5em;
}


main{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    height: 85vh;
    overflow: hidden;
}

main > * {
    max-height: 80vh;
}

.icon{
    height: 1em;
}

.copyright{
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    background: #fff;
    font-weight: 300;
}

.canvasContainer{
    padding: 1em;
    margin: auto;
    flex: 2;
}

#canvas{
    border: 0.5em solid #055450;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
    margin: 1em 0;
    padding: 2em;
    flex: 1;
    animation: fadeIn 0.5s;
}

.form > label {
    padding: 1em 0.2em;
}

.form > input {
    padding: 1em 10em 0.5em 0.2em;
}

#selectBtn{
    font-weight: bold;
    text-shadow: -2px 2px #000;
}

#uploadLabel{
    margin-top: 2em;
    font-style: italic;
}

.memesArea{
    display: grid;
    list-style: none;
    margin: 0;
    padding: 2em;
    grid-template-columns: 50% 50%;
    overflow-y: auto;
    flex: 1;
    animation: fadeIn 1s;
}

.memesArea > li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 1px dashed #54250D;
}

.memesArea > li > img{
    max-width: 100%;
    margin: auto;
}

.hidden{
    display: none;
}


/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Media Queries */
@media screen and (max-width: 615px) {
    body {
        background-color: lightgreen;
    }

    #topBar{
        flex-direction: column;
        height: 20vh;
    }

    main{
        flex-direction: column;
    }

    main > *{
        max-height: 50vh;
        flex:none !important;
        padding: 0 !important;
    }

    .form{
        margin: auto;
        overflow-y: auto;
    }

    .form > input{
        padding: 1em 2em 0.5em 0.2em;
    }

}